*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lexend Peta", sans-serif;
  color: #fff;
  background: #000; }

.banner {
  background: black;
  text-align: center;
  padding: 2em 0; }
  .banner h1 {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block; }

.main-container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto; }

.main-content {
  display: flex; }
  @media (max-width: 800px) {
    .main-content {
      flex-direction: column; } }
  .main-content .main-content__portrait {
    flex: 1;
    padding: 0.5em 2em 0.5em 2em; }
    .main-content .main-content__portrait img {
      width: 100%; }
    .main-content .main-content__portrait .main-content__portrait-caption {
      font-style: italic; }
    .main-content .main-content__portrait p {
      padding-top: 0.5em; }
    .main-content .main-content__portrait .main-content__excerpt {
      font-family: 'Noto Serif', serif;
      font-size: 14px; }
      .main-content .main-content__portrait .main-content__excerpt::first-letter {
        font-size: 21px;
        color: purple; }
  .main-content .main-content__music {
    flex: 1;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .main-content .main-content__music .music__image {
      text-align: center; }
      @media (max-width: 800px) {
        .main-content .main-content__music .music__image {
          padding-top: 2em; } }
      .main-content .main-content__music .music__image img {
        width: 50%;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); }
    .main-content .main-content__music .music__links {
      padding-top: 0.5em; }
      .main-content .main-content__music .music__links h4 {
        padding-bottom: 0.2em; }
      .main-content .main-content__music .music__links ul {
        list-style: none; }
        .main-content .main-content__music .music__links ul li a {
          text-decoration: none;
          display: inline-block;
          padding: 0.2em;
          color: purple; }
          .main-content .main-content__music .music__links ul li a:hover {
            animation: rainbow 0.8s infinite; }

.sub-content {
  padding-top: 2.5em;
  display: flex; }
  @media (max-width: 800px) {
    .sub-content {
      flex-direction: column; } }
  .sub-content .sub-content__tour {
    flex: 1;
    padding-left: 2em; }
    @media (max-width: 800px) {
      .sub-content .sub-content__tour {
        padding-left: 0;
        font-size: 12px;
        margin: 0 auto; } }
    .sub-content .sub-content__tour h2 {
      padding-bottom: 0.8em; }
    .sub-content .sub-content__tour p {
      padding: 0.4em 0; }
  .sub-content .sub-content__contact {
    flex: 1;
    padding-left: 2em;
    text-align: center; }
    .sub-content .sub-content__contact h2 {
      padding-bottom: 0.5em; }
    .sub-content .sub-content__contact ul {
      list-style: none; }
      .sub-content .sub-content__contact ul li a {
        text-decoration: none;
        display: inline-block;
        padding: 0.2em;
        color: purple; }
        .sub-content .sub-content__contact ul li a:hover {
          animation: rainbow 1.5s infinite; }
    @media (max-width: 800px) {
      .sub-content .sub-content__contact {
        padding-top: 3em;
        padding-left: 0; } }

@keyframes rainbow {
  0% {
    color: #ff0000; }
  10% {
    color: #ff8000; }
  20% {
    color: #ffff00; }
  30% {
    color: #80ff00; }
  40% {
    color: #00ff00; }
  50% {
    color: #00ff80; }
  60% {
    color: #00ffff; }
  70% {
    color: #0080ff; }
  80% {
    color: #0000ff; }
  90% {
    color: #8000ff; }
  100% {
    color: #ff0080; } }

@keyframes tilt {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.4); }
  100% {
    transform: rotate(0deg) scale(1); } }

.secretImg {
  position: fixed;
  z-index: 10;
  outline: 0px;
  transition: all 0.1s linear 0s;
  animation: tilt 3s infinite; }
